body{

    background-color:white;
   width: 90%;
   height: 90%;
   overflow: scroll;
   overflow-y: scroll;
  
 
}

img {
    position:fixed;
   
    background-attachment: fixed;
    top: 0%;
    margin-left: 1300px;
      z-index: 1;
      width:200px;
      height:300px;}
   
  
  
 